table {
    margin-right:auto;
    margin-left: auto;
    margin-top: 150px;
    border: 1px solid black;
    border-collapse:collapse 
    width 95%
    
   }
th{ 
    background-color: #9592AE;
    border: 1px solid black;
   } 
td{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;    
}
h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
    
}
.ingreso{
    text-align: center;
}