{%extends 'organizalo/base2.html'%}

{%load static%}
{%block contenido2%}

<body>
    <div class="container">
        <div class="section">
          <button class="btn blue" id="dolar">Dolar</button>
          
        </div>
    <div class="section">
    <ul id="resultado"></ul>

    </div>
  </div>  
 
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="{% static 'js/moneda.js' %}"> </script>
</body>
{%endblock%}

          
