{%extends 'organizalo/base.html'%}
{%load static%}
{%block contenido%}
{% load crispy_forms_tags %}
<br><br><br>
<div class="container w-60 bg-primary mt-5 rounded shadow">
<br>
 <div class="row align-items-stretch">
    <h2>Mandanos tu sugerencia!</h2>
    <div class="col bg-light p-5 rounded-end">
        <form action="" class="formulario_contacto" id="formulario_contacto" method="POST">
                    {% csrf_token %}
                    {{ form | crispy}}

    <button type="submit" id="btnEnviar" class="button">Enviar</button>

</form>

{% endblock %}