{%extends 'organizalo/base.html'%}
{%load static%}

{%block contenido%}

<div class="container-md">
    <br>
    <br>
      <div class="row">
      <br>
      <br>
     <!-- Insercion CARDS-->
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem; height: 18 rem;">
            <img src="img" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gestiona tus finanzas</h5>

              <p class="card-text">......<p>
                
                .......................
                ........................
                -.......................<br>
           
              
              
            
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;  height: 18 rem;">
            <img src="imagen..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ahorra</h5>
              <p class="card-text">.....</p>
                ......................................
                ......................................
                ................               
              <br>
             
              
              
           
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem ; height: 18 rem;">
            <img src="assets/docdepil_laser.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">organizalo</h5>
              <p class="card-text">....</p>
                .............................................
                .......................
                ......................................
                .......................             
                
                <br>
                
                
            
          
              </div>
          </div>
        </div>
      </div>
    </div>

</div>
<br><br>
<div class="container text-center"><p class="h1" style="font-family: 'Courier New', Courier, monospace  ; justify-center">PROPOSITO DE LA PAGINA/APP</p>
    <div class="bg-light rounded shadow d-flex justify-content-center align-items-center" style=" height: 600px; w-60">
        <p class="h2" style="color: dark ; font-style:oblique; font-family: 'Times New Roman', Times, serif;">El proposito de nuestra pagina y aplicacion es hacer que el usuario pueda llevar una cuenta ordenada tanto de los gastos como de los ingresos diarios que este tiene, estos se pueden ordenar segun la tarjeta que el usuario utilize</p>
    </div>
</div>

{%endblock%}