{%extends 'organizalo/base.html'%}
{%load static%}

{%block contenido%}

</div>
<br><br>
<div class="container text-center"><p class="h1" style="font-family: 'Courier New', Courier, monospace  ; justify-center">PROPOSITO DE LA PAGINA/APP</p>
    <div class="bg-light rounded shadow d-flex justify-content-center align-items-center" style=" height: 600px; w-60">
        <p class="h2" style="color: dark ; font-style:oblique; font-family: 'Times New Roman', Times, serif;">El proposito de nuestra pagina y aplicacion es hacer que el usuario pueda llevar una cuenta ordenada tanto de los gastos como de los ingresos diarios que este tiene, estos se pueden ordenar segun la tarjeta que el usuario utilize</p>
    </div>
</div>

{%endblock%}