{%extends 'organizalo/base.html'%}
{%load static%}

{%block contenido%}

<div class="container-md">
    <br>
    <br>
      <div class="row">
      <br>
      <br>
     
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem; height: 18 rem;">
            <img src={% static 'img/gastos.jpg' %} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gestiona tus finanzas</h5>

              <p class="card-text">Administra tus gastos<p>
                
                Revisa todos tus gastos ingresados
                y administra de forma eficiente
                tu dinero.<br>
           
              
              
            
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;  height: 18 rem;">
            <img src={% static 'img/ahorrar.jpeg' %} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ahorra</h5>
              <p class="card-text">La base de tu propia riqueza</p>
              Al llevar el control de tus
              gastos podras ver un balance positivo para
              tus ahorros.               
              <br>
             
              
              
           
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem ; height: 18 rem;">
            <img src={% static 'img/billetera.jfif' %} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Organízalo</h5>
              <p class="card-text">Agrega tus movimientos</p>
                Con esta aplicacion podras agregar todos tus 
                gastos y controlar de mejor manera tu economia.
                <br>
                
                
            
          
              </div>
          </div>
        </div>
      </div>
    </div>

</div>
<br><br>
<div class="container text-center"><p class="h1" style="font-family: 'Courier New', Courier, monospace  ; justify-center">PROPOSITO DE LA PAGINA/APP</p>
    <div class="bg-light rounded shadow d-flex justify-content-center align-items-center" style=" height: 600px; w-60">
        <p class="h2" style="color: dark ; font-style:oblique; font-family: 'Times New Roman', Times, serif;">El proposito de nuestra pagina y aplicacion es hacer que el usuario pueda llevar una cuenta ordenada tanto de los gastos como de los ingresos diarios que este tiene, estos se pueden ordenar segun la tarjeta que el usuario utilize</p>
    </div>
</div>
</div>
</div>
<div class="container">
    <div class="section">
      <button class="btn blue" id="dolar" >

{%endblock%}