{%extends 'organizalo/base.html'%}
{%load static%}
{%block contenido%}
<div class="container w-60 bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg-dark p-5 rounded-end"> 
          <h1 style="text-align: center; color: aliceblue;">Mis Movimientos</h1>
  <div class="container mt-3">
    {% for Transaccion in listado %}
      <table class="table table-dark table-hover">
        <thead>
            <tr>
              <th>
                  FECHA
              </th>
              <th>
                  DESCRIPCION DEL MOVIMIENTO
              </th>
              <th>
                  MONTO
                </th>
              <th>
                  CUENTA
                </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{Transaccion.Fecha}}</td>
              <td>{{Transaccion.Descripcion | capfirst}}</td>
              <td><font style="color: green;">${{Transaccion.Monto}}</td>
              <td>{{Transaccion.Cuenta}}</td>
            </tr>
        <tbody>
          
        </tbody>
      </table>
      {% endfor %}
    </div>
        </div>
    </div>
  </div>
  <br>
  <div class="container w-60 bg-dark mt-5 rounded shadow align-items-center">
    <br>
    <h4 style="color: white; text-align: center; width: auto;"><a href="nuevomov.html" style="text-decoration: none; color: aliceblue;" >Agregar Movimiento</a></h4>
    <br>
  </div>

{%endblock%}