{%extends 'organizalo/base2.html'%}
{%load static%}
{%block contenido2%}
<body>
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch">

            <div class="col bg  d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <div class="col bg-white p-5 rounded-end">

                <div class="text-left">
                </div>
                <h2 class="fw-bold text-center py-5">Inicia Sesion</h2>

                <!---  LOGIN     -->

                <form action="Inicio2.html"  id="formlogin">
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo Electronico    </label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña     </label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" name="connected" class="form-check-input" id="">
                        <label for="connected" class="form-check-label">Mantenerme Conectado</label>
                    </div>
                    <div class="d-grid">
                        <a href="{% url 'inicio'%}" target="blank"> <button type="button" class="btn btn-primary">Iniciar Sesion</button></a>
                    </div>

                    <div class="my-3">
                        <span>¿No tienes cuenta? <a href="{% url 'registro'%}" target="blank">Registrate</a></span>
                        <br>
                        <span>¿Olvidaste tu contraseña?<a href="#">Recuperar Password</a></span>
                    </div>
                </form>
                <!------REDES SOCIALES------>
                <div class="container w-100 my-5">
                    <div class="row text-center">
                        <div class="col-12">Inicia sesion con</div>
                        <div class="row">
                            <button class="btn btn-outline-primary w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2 d-none d-md-block">
                                        <img src="{% static 'img/fb.png' %}" width="32" alt=""> 
                                    </div>
                                    <div class="col-12 col-md-10 text-center">
                                        Facebook
                                    </div>
                                </div>
                            </button>
                            <button class="btn btn-outline-danger w-100 my-1">
                                <div class="row align-items-center">
                                    <div class="col-2 d-none d-md-block">
                                        <img src="{% static 'img/google.png' %}" width="32" alt="">
                                    </div>
                                    <div class="col-12 col-md-10 text-center">
                                        Google
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
            </div>
        </div>
    </div>
{%endblock%}

