{%extends 'organizalo/base2.html'%}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{%block contenido2%}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<section class="full">
  <div class="full-inner">
    <div class="content">
      <h1>Organizalo</h1>
      <br><br>
      <a href="{% url 'registro'%} " target="blank">REGISTRARSE</a>
      <a href="{% url 'login'%} " target="blank">INICIO SESION</a>
      <br> <br> <br>
      <a href="{% url 'inicio'%} " target="blank">INICIO</a>
    </div>
  </div>
</section>
        {%endblock%}


</body>
</html>