{%extends 'organizalo/base.html'%}
{%load static%}
{%block contenido%}
{% load crispy_forms_tags %}
<br><br><br>
<div class="container w-60 bg-primary mt-5 rounded shadow">
  <br>
  <div class="row align-items-stretch">
    <div class="col bg-light p-5 rounded-end">
    <form action="" method="post" class="formdatos">
  
      {% csrf_token %}
   
     {{ form | crispy}}
     
     <br><br>
       <div class="d-flex justify-content-center">
         <input type="reset" class="btn btn-secondary" name="btnCancelar" value="Cancelar">
         &nbsp;
         <button type="submit" class="btn btn-primary" name="btnEditar">Editar</button>
       </div>  
     </form>
  </div>
</div>
</div>

{%endblock%}