* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.form-register{
    width: 500px;
    background: #24303c;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    border-bottom: 1px solid darkblue;
    border-top: 1px solid darkblue;
    border-right: 1px solid darkblue;
    border-left: 1px solid darkblue;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
    


}


.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {

    height: 30px;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    
}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}
.form-group{
   padding: 0%;
}
.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-size: 14px;
}