{% extends 'nuevomov.html' %}
{% load crispy_forms_tags %}
{% block content %}


    {% if form.errors %}

    <div class="alert alert-danger" role="alert">
        Error al ingresar los datos!
    </div>

    {% endif %}

    <h1>Registro de Transacciones</h1>

    <form action="{% url 'guardarTransaccion'%}" method="POST">
        {% csrf_token %}
        {% if mensaje %}
        <div class="alert alert-success" role="alert">
            Transaccion registrada con exito
        </div
        {% endif %}

        {{form|crispy}}

        </form>
{% endblock  %}